@charset "UTF-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
	height: 100%;
	-webkit-font-smoothing: antialiased;
}

body {
	background: url('../images/background.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: top center;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	line-height: 1;
	margin: 0px;
	margin-top: 15%;
	padding: 0px;
}

p {
	font-size: 1em;
	line-height: 1.25em;
}

ol, ul {
	list-style: none;
}

img {
	width: 100%;
}

u {
	display: inline-block;
	text-decoration: none;
}

h1, h2, h3 {
	color: rgb(16,55,80);
	font-family: 'Archivo Black', sans-serif;
	text-align: center;
	text-transform: uppercase;
}

h3 {
	margin: 0 0 20px 0;
}

header {
	background-color: rgb(16,55,80);
	border-bottom: 2px solid rgb(6, 19, 27);
  box-sizing: border-box;
	left: 0px;
	padding: 15px 30px 20px 30px;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 100;
}

header::after {
	clear: both;
	content: ' ';
	display: block;
}

nav {
	font-family: 'Archivo Black', sans-serif;
	font-size: 1.5em;
	text-align: right;
}

a {
	text-decoration: none;
}

nav a {
	color: darkgray;
	margin: 0 10px;
	text-decoration: none;
}

nav a.active {
	color: rgb(41, 138, 202);
}

footer {
    background-color: rgb(16,55,80);
    border-top: 2px solid rgb(6, 19, 27);
    bottom: 0;
    color: white;
    position: fixed;
    text-align: center;
    width: 100%;
}

footer a {
	color: white
}

footer a:visited {
	color: white;
}

footer * {
	display: inline-block;
}

footer p {
	line-height: 2.25em;
	text-decoration: none;
}

.image-about {
	height: 100%;
}

.hidden {
	display: none;
}

.center {
	text-align: center !important;
}

.col {
	box-sizing: border-box;
}
.col-1 {
	box-sizing: border-box;
	padding: 0 30px;
	text-align: center;
}

.col-2, .col-4 {
	box-sizing: border-box;
	float: left;
	text-align: center;
	width: 25%;
}

.col-2 {
	width: 50%;
}

.col-4 {
	width: 25%;
}

.col-3 {
	width: 33%
}

.pad-30 {
	padding: 30px;
}

.pad-20 {
	padding: 20px;
}

.pad-10 {
	padding: 10px;
}

.margin-5 {
	margin-top: 5%;
}

.margin-10 {
	margin-top: 10%;
}

#logo {
	border: 2px solid darkgray;
	border-radius: 6px;
	cursor: pointer;
	display: block;
	float: left;
	width: 174px;
}

.about-title {
	margin-bottom: 3%;
}

.about-guess {
	color: rgb(16,55,80);
	font-size: xx-large;
	text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
	text-transform: none;
}

.dev-guess {
    display: block;
    clear: both;
    padding: 10px;
    border: 2px solid darkgray;
    border-radius: 6px;
    margin: 0 auto 2%;
    max-width: 50%;
    background: rgba(92, 92, 92, 0.95);
}
.ul-about {
    color: white;
    font-weight: bold;
	margin: 21% 0 0 0;
	line-height: 1.25em;
    text-align: center;
    padding: 0px 5%;
	font-size: 90%;
}

li span {
	color: rgb(85, 172, 238);
}

#choices {
	display: block;
	clear: both;
	padding: 10px;
	border: 2px solid darkgray;
	border-radius: 6px;
	margin: 0 auto;
	max-width: 50%;
	background:rgba(92, 92, 92, 0.95);
}

.welcome {
    display: block;
    clear: both;
    padding: 10px;
    border: 2px solid darkgray;
    border-radius: 6px;
    margin: 0 auto 2%;
    max-width: 50%;
    background: rgba(92, 92, 92, 0.95);
}

.instructions {
	color: white;
	font-weight: bold;
	padding: 1%;
}

.retake {
	margin-top: 20px;
}
#resultsDisplayer {
	display: block;
	clear: both;
	padding: 10px;
	border: 2px solid darkgray;
	border-radius: 6px;
	margin: 0 auto;
	max-width: 50%;
	background:rgba(92, 92, 92, 0.95);
}

#resultsDisplayer h2 {
	color: rgb(85, 172, 238);
}

#resultsDisplayer h3 {
	color: rgb(85, 172, 238);
}

#questionsWrong {
	color: white;
	font-size: 1.25em;
	line-height:1.25em;
}

#quiz {
	color: white;
}
#status {
	color: rgb(85, 172, 238);
}
form h3 {
	color: rgb(85, 172, 238);
}

/****** ABOUT US PHOTO FLIPS ******/

.card-container {
	cursor: pointer;
	height: 150px;
	display: inline-block;

}

.card {
	display: inline-block;
	height: 300px;
	margin-left: 13.75%;
	max-width: 15%;
	position: absolute;
	transform-style: preserve-3d;
	transition: all 1s ease-in-out;
	width: 300px;
}

.card:hover {
	transform: rotateY(180deg);
}

.card .side1 {
	backface-visibility: hidden;
	background: rgba(92, 92, 92, 0.95);
	border-radius: 6px;
	height: 100%;
	position: absolute;
	overflow: hidden;
	width: 100%;
}

.card .back1 {
	transform: rotateY(180deg);
	border: 2px solid darkgray;
}

.margin-1 {
	margin-left: 31%;
}

.margin-2 {
	margin-left: 48.5%;
}

.margin-3 {
	margin-left: 65.8%;
}

/* RACCOON EASTER EGGS */
.egg-image {
	height: 300px;
	width: 300px;
}

.egg-one {
    position: absolute;
    top: 193px;
    left: 30px;
}

.egg-two {
	position: absolute;
	top: 480px;
    right: 690px;
}

.egg-three {
	position: absolute;
	top: 442px;
	right: 90px;
}

.egg-image {
	opacity: 0;
}

.egg-image:hover {
	opacity: 1;
}

/* SOCIAL MEDIA */

.fa-twitter {
	background-color:#55ACEE;
	color: white;
	padding: 5px;
  font-size: 30px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa-facebook {
	background-color: #3B5998;
	color: white;
	padding: 5px;
  font-size: 30px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa-linkedin {
	background-color: #007bb5;
	color: white;
	padding: 5px;
  font-size: 30px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
