@charset "UTF-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
	height: 100%;
	-webkit-font-smoothing: antialiased;
}

body {
	line-height: 1;
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin: 0px;
	margin-top: 15%;
	padding: 0px;
	background-color: #fff;
	min-height: 100%;
}

p {
	font-size: 1em;
	line-height: 1.25em;
	margin: 0 auto 1em auto;
}

ol, ul {
	list-style: none;
}

img {
	width: 100%;
}

u {
	display: inline-block;
	text-decoration: none;
}

h1, h2, h3 {
	position: relative;
	top: 0px;
	font-family: 'Archivo Black', sans-serif;
	font-size: 5em;
	text-align: center;
	color: #f2f2f1;
	text-transform: uppercase;
}

h3 {
	font-size: 5vw;
	margin: 0 0 30px 0;
	transition: all .3s ease;
}

.image-about {
  /* width: 20%; */
  padding: 10px;
  height: 100%;
}

.hidden {
	display: none;
}

.center {
	text-align: center !important;
}

.float-none {
	float: none !important;
}

.col {
	box-sizing: border-box;
}

header {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
  	box-sizing: border-box;
  	background-color: white;
	padding: 15px 30px 20px 30px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.514);
	z-index: 100;
}

header::after {
	content: ' ';
	display: block;
	clear: both;
}

#logo {
	float: left;
	display: block;
	width: 174px;
	height: 50px;
	cursor: pointer;
}

#menu {
	float: right;
	position: relative;
	margin-top: -5px;
	display: block;
	width: 59px;
	height: 49px;
	cursor: pointer;
}

nav {
	text-align: right;
	font-family: 'Archivo Black', sans-serif;
	font-size: 1.5em;
	background: none;
}

nav a {
  color: rgb(16,55,80);
	text-decoration: none;
	margin: 0 10px;
}

nav a.active {
	color: rgb(41, 138, 202) !important;
}

.col-1 {
	box-sizing: border-box;
	text-align: center;
	padding: 0 30px;
}

.col-2, .col-4 {
	float: left;
	box-sizing: border-box;
	width: 25%;
	text-align: center;
}

.col-2 {
  width: 50%;
}

.col-4 {
  width: 25%;
}

.col-3 {
  width: 33%
}

.pad-30 {
  padding: 30px;
}

.pad-20 {
  padding: 20px;
}

.pad-10 {
  padding: 10px;
}

.margin-5 {
  margin-top: 5%;
}

.margin-10 {
  margin-top: 10%;
}

footer {
    /* position: fixed; */
    bottom: 0;
    margin-top: 30%;
    /* padding: 60px 30px; */
    text-align: center;
    font-size: 1.25em;
}

footer * {
  display: inline-block;
}

/****** ABOUT US PHOTO FLIPS ******/
.p-about {
	color: white;
	line-height: 10.25em;
	font-size: 1.5em;
	font-weight: bold;
	margin: 0 auto 1em auto;
	text-align: center;
}
#choices {
	display: block;
	clear: both;
}

.card-container {
	cursor: pointer;
	height: 150px;
	display: inline-block;
}

.card {
	display: inline-block;
	height: 300px;
	margin-left: 10.75%;
	max-width: 15%;
	position: absolute;
	transform-style: preserve-3d;
	transition: all 1s ease-in-out;
	width: 300px;
}

.card:hover {
	transform: rotateY(180deg);
}

.card .side1 {
	backface-visibility: hidden;
	background: darkgray;
	border-radius: 6px;
	height: 100%;
	position: absolute;
	overflow: hidden;
	width: 100%;
}

.card .back1 {
	background: white;
	transform: rotateY(180deg);
}

.margin-1 {
	margin-left: 29%;
}

.margin-2 {
	margin-left: 47%;
}

.margin-3 {
	margin-left: 65%;
}
